
<div class="bar side-bar">
    <h2>Brandon Feder</h2>

    <p>
    <div>
        <i class="bi bi-telephone-fill"></i> 
        +1 (609)-250-8622
    </div>

    <div>
        <i class="bi bi-envelope-open-fill"></i> 
        <a href="mailto:koala@brandonfeder.com">koala@brandonfeder.com</a>
    </div>

    <div>
        <i class="bi bi-github"></i> 
        <a href="https://github.com/brandon-feder" target="_blank">brandon-feder</a>
    </div>

    <div>
        <i class="bi bi-file-person-fill"></i> 
        <a href="/assets/misc/resume.pdf" target="_blank">resume</a>
    </div>
    </p>
    <img src="/assets/images/headshot-1.jpg"/>
</div>