
<div class="bar side-bar">
    <h2><a href="/" style="color: inherit">Brandon Feder</a></h2>

    <p>

    <div>
        <i class="bi bi-envelope-open-fill"></i>
        <a href="mailto:koala@brandonfeder.com">koala@brandonfeder.com</a>
    </div>

    <div>
        <i class="bi bi-github"></i>
        <a href="https://github.com/brandon-feder" target="_blank">brandon-feder</a>
    </div>

    <div>
        <i class="bi bi-file-person-fill"></i>
        <a href="/assets/misc/cv.pdf" target="_blank">CV</a>
    </div>
    </p>
    <img src="/assets/images/headshot-1.jpg"/>
</div>
